# Proyecto: Análisis de ventas de auto por Ebay

El objetivo de este proyecto es realizar un análisis general de ventas de autos usados que se realizan mediante la página Ebay.

Los datos recopilados se pueden encontrar [Aqui](https://www.kaggle.com/orgesleka/used-cars-database/data). De ellos se extrajo una muestra de 50.000 datos y el significado de cada encabezado se puede encontrar en el mismo link.

In [1]:
import pandas as pd, numpy as np
autos = pd.read_csv("autos.csv", encoding="Latin-1")

In [2]:
autos

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
5,2016-03-21 13:47:45,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,privat,Angebot,"$7,900",test,bus,2006,automatik,150,voyager,"150,000km",4,diesel,chrysler,NaN,2016-03-21 00:00:00,0,22962,2016-04-06 09:45:21
6,2016-03-20 17:55:21,VW_Golf_III_GT_Special_Electronic_Green_Metall...,privat,Angebot,$300,test,limousine,1995,manuell,90,golf,"150,000km",8,benzin,volkswagen,NaN,2016-03-20 00:00:00,0,31535,2016-03-23 02:48:59
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,privat,Angebot,"$1,990",control,limousine,1998,manuell,90,golf,"150,000km",12,diesel,volkswagen,nein,2016-03-16 00:00:00,0,53474,2016-04-07 03:17:32
8,2016-03-22 16:51:34,Seat_Arosa,privat,Angebot,$250,test,NaN,2000,manuell,0,arosa,"150,000km",10,NaN,seat,nein,2016-03-22 00:00:00,0,7426,2016-03-26 18:18:10
9,2016-03-16 13:47:02,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,privat,Angebot,$590,control,bus,1997,manuell,90,megane,"150,000km",7,benzin,renault,nein,2016-03-16 00:00:00,0,15749,2016-04-06 10:46:35
10,2016-03-15 01:41:36,VW_Golf_Tuning_in_siber/grau,privat,Angebot,$999,test,NaN,2017,manuell,90,NaN,"150,000km",4,benzin,volkswagen,nein,2016-03-14 00:00:00,0,86157,2016-04-07 03:16:21
11,2016-03-16 18:45:34,Mercedes_A140_Motorschaden,privat,Angebot,$350,control,NaN,2000,NaN,0,NaN,"150,000km",0,benzin,mercedes_benz,NaN,2016-03-16 00:00:00,0,17498,2016-03-16 18:45:34
12,2016-03-31 19:48:22,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,privat,Angebot,"$5,299",control,kleinwagen,2010,automatik,71,fortwo,"50,000km",9,benzin,smart,nein,2016-03-31 00:00:00,0,34590,2016-04-06 14:17:52
13,2016-03-23 10:48:32,Audi_A3_1.6_tuning,privat,Angebot,"$1,350",control,limousine,1999,manuell,101,a3,"150,000km",11,benzin,audi,nein,2016-03-23 00:00:00,0,12043,2016-04-01 14:17:13
14,2016-03-23 11:50:46,Renault_Clio_3__Dynamique_1.2__16_V;_viele_Ver...,privat,Angebot,"$3,999",test,kleinwagen,2007,manuell,75,clio,"150,000km",9,benzin,renault,NaN,2016-03-23 00:00:00,0,81737,2016-04-01 15:46:47
15,2016-04-01 12:06:20,Corvette_C3_Coupe_T_Top_Crossfire_Injection,privat,Angebot,"$18,900",test,coupe,1982,automatik,203,NaN,"80,000km",6,benzin,sonstige_autos,nein,2016-04-01 00:00:00,0,61276,2016-04-02 21:10:48
16,2016-03-16 14:59:02,Opel_Vectra_B_Kombi,privat,Angebot,$350,test,kombi,1999,manuell,101,vectra,"150,000km",5,benzin,opel,nein,2016-03-16 00:00:00,0,57299,2016-03-18 05:29:37
17,2016-03-29 11:46:22,Volkswagen_Scirocco_2_G60,privat,Angebot,"$5,500",test,coupe,1990,manuell,205,scirocco,"150,000km",6,benzin,volkswagen,nein,2016-03-29 00:00:00,0,74821,2016-04-05 20:46:26
18,2016-03-26 19:57:44,Verkaufen_mein_bmw_e36_320_i_touring,privat,Angebot,$300,control,bus,1995,manuell,150,3er,"150,000km",0,benzin,bmw,NaN,2016-03-26 00:00:00,0,54329,2016-04-02 12:16:41
19,2016-03-17 13:36:21,mazda_tribute_2.0_mit_gas_und_tuev_neu_2018,privat,Angebot,"$4,150",control,suv,2004,manuell,124,andere,"150,000km",2,lpg,mazda,nein,2016-03-17 00:00:00,0,40878,2016-03-17 14:45:58
20,2016-03-05 19:57:31,Audi_A4_Avant_1.9_TDI_*6_Gang*AHK*Klimatronik*...,privat,Angebot,"$3,500",test,kombi,2003,manuell,131,a4,"150,000km",5,diesel,audi,NaN,2016-03-05 00:00:00,0,53913,2016-03-07 05:46:46
21,2016-03-06 19:07:10,Porsche_911_Carrera_4S_Cabrio,privat,Angebot,"$41,500",test,cabrio,2004,manuell,320,911,"150,000km",4,benzin,porsche,nein,2016-03-06 00:00:00,0,65428,2016-04-05 23:46:19
22,2016-03-28 20:50:54,MINI_Cooper_S_Cabrio,privat,Angebot,"$25,450",control,cabrio,2015,manuell,184,cooper,"10,000km",1,benzin,mini,nein,2016-03-28 00:00:00,0,44789,2016-04-01 06:45:30
23,2016-03-10 19:55:34,Peugeot_Boxer_2_2_HDi_120_Ps_9_Sitzer_inkl_Klima,privat,Angebot,"$7,999",control,bus,2010,manuell,120,NaN,"150,000km",2,diesel,peugeot,nein,2016-03-10 00:00:00,0,30900,2016-03-17 08:45:17
24,2016-04-03 11:57:02,BMW_535i_xDrive_Sport_Aut.,privat,Angebot,"$48,500",control,limousine,2014,automatik,306,5er,"30,000km",12,benzin,bmw,nein,2016-04-03 00:00:00,0,22547,2016-04-07 13:16:50
25,2016-03-21 21:56:18,Ford_escort_kombi_an_bastler_mit_ghia_ausstattung,privat,Angebot,$90,control,kombi,1996,manuell,116,NaN,"150,000km",4,benzin,ford,ja,2016-03-21 00:00:00,0,27574,2016-04-01 05:16:49
26,2016-04-03 22:46:28,Volkswagen_Polo_Fox,privat,Angebot,$777,control,kleinwagen,1992,manuell,54,polo,"125,000km",2,benzin,volkswagen,nein,2016-04-03 00:00:00,0,38110,2016-04-05 23:46:48
27,2016-03-27 18:45:01,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,privat,Angebot,$0,control,NaN,2005,NaN,0,NaN,"150,000km",0,NaN,ford,NaN,2016-03-27 00:00:00,0,66701,2016-03-27 18:45:01
28,2016-03-19 21:56:19,MINI_Cooper_D,privat,Angebot,"$5,250",control,kleinwagen,2007,manuell,110,cooper,"150,000km",7,diesel,mini,ja,2016-03-19 00:00:00,0,15745,2016-04-07 14:58:48
29,2016-04-02 12:45:44,Mercedes_Benz_E_320_T_CDI_Avantgarde_DPF7_Sitz...,privat,Angebot,"$4,999",test,kombi,2004,automatik,204,e_klasse,"150,000km",10,diesel,mercedes_benz,nein,2016-04-02 00:00:00,0,47638,2016-04-02 12:45:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,2016-03-21 22:47:37,c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...,privat,Angebot,"$15,800",control,bus,2010,automatik,136,c4,"60,000km",4,diesel,citroen,nein,2016-03-21 00:00:00,0,14947,2016-04-07 04:17:34
49971,2016-03-29 14:54:12,W.Lupo_1.0,privat,Angebot,$950,test,kleinwagen,2001,manuell,50,lupo,"150,000km",4,benzin,volkswagen,nein,2016-03-29 00:00:00,0,65197,2016-03-29 20:41:51
49972,2016-03-26 22:25:23,Mercedes_Benz_Vito_115_CDI_Extralang_Aut.,privat,Angebot,"$3,300",control,bus,2004,automatik,150,vito,"150,000km",10,diesel,mercedes_benz,ja,2016-03-26 00:00:00,0,65326,2016-03-28 11:28:18
49973,2016-03-27 05:32:39,Mercedes_Benz_SLK_200_Kompressor,privat,Angebot,"$6,000",control,cabrio,2004,manuell,163,slk,"150,000km",11,benzin,mercedes_benz,nein,2016-03-27 00:00:00,0,53567,2016-03-27 08:25:24
49974,2016-03-20 10:52:31,Golf_1_Cabrio_Tuev_Neu_viele_Extras_alles_eing...,privat,Angebot,$0,control,cabrio,1983,manuell,70,golf,"150,000km",2,benzin,volkswagen,nein,2016-03-20 00:00:00,0,8209,2016-03-27 19:48:16
49975,2016-03-27 20:51:39,Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort,privat,Angebot,"$9,700",control,kleinwagen,2012,automatik,88,jazz,"100,000km",11,hybrid,honda,nein,2016-03-27 00:00:00,0,84385,2016-04-05 19:45:34
49976,2016-03-19 18:56:05,Audi_80_Avant_2.6_E__Vollausstattung!!_Einziga...,privat,Angebot,"$5,900",test,kombi,1992,automatik,150,80,"150,000km",12,benzin,audi,nein,2016-03-19 00:00:00,0,36100,2016-04-07 06:16:44
49977,2016-03-31 18:37:18,Mercedes_Benz_C200_Cdi_W203,privat,Angebot,"$5,500",control,limousine,2003,manuell,116,c_klasse,"150,000km",2,diesel,mercedes_benz,nein,2016-03-31 00:00:00,0,33739,2016-04-06 12:16:11
49978,2016-04-04 10:37:14,Mercedes_Benz_E_200_Classic,privat,Angebot,$900,control,limousine,1996,automatik,136,e_klasse,"150,000km",9,benzin,mercedes_benz,ja,2016-04-04 00:00:00,0,24405,2016-04-06 12:44:20
49979,2016-03-20 18:38:40,Volkswagen_Polo_1.6_TDI_Style,privat,Angebot,"$11,000",test,kleinwagen,2011,manuell,90,polo,"70,000km",11,diesel,volkswagen,nein,2016-03-20 00:00:00,0,48455,2016-04-07 01:45:12
49980,2016-03-12 10:55:54,Ford_Escort_Turnier_16V,privat,Angebot,$400,control,kombi,1995,manuell,105,escort,"125,000km",3,benzin,ford,NaN,2016-03-12 00:00:00,0,56218,2016-04-06 17:16:49
49981,2016-03-15 09:38:21,Opel_Astra_Kombi_mit_Anhaengerkupplung,privat,Angebot,"$2,000",control,kombi,1998,manuell,115,astra,"150,000km",12,benzin,opel,nein,2016-03-15 00:00:00,0,86859,2016-04-05 17:21:46
49982,2016-03-29 18:51:08,Skoda_Fabia_4_Tuerer_Bj:2004__85.000Tkm,privat,Angebot,"$1,950",control,kleinwagen,2004,manuell,0,fabia,"90,000km",7,benzin,skoda,NaN,2016-03-29 00:00:00,0,45884,2016-03-29 18:51:08
49983,2016-03-06 12:43:04,Ford_focus_99,privat,Angebot,$600,test,kleinwagen,1999,manuell,101,focus,"150,000km",4,benzin,ford,NaN,2016-03-06 00:00:00,0,52477,2016-03-09 06:16:08
49984,2016-03-31 22:48:48,Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...,privat,Angebot,$0,test,NaN,2000,NaN,0,NaN,"150,000km",0,NaN,sonstige_autos,NaN,2016-03-31 00:00:00,0,12103,2016-04-02 19:44:53
49985,2016-04-02 16:38:23,Verkaufe_meinen_vw_vento!,privat,Angebot,"$1,000",control,NaN,1995,automatik,0,NaN,"150,000km",0,benzin,volkswagen,NaN,2016-04-02 00:00:00,0,30900,2016-04-06 15:17:52
49986,2016-04-04 20:46:02,Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...,privat,Angebot,"$15,900",control,limousine,2010,automatik,218,300c,"125,000km",11,diesel,chrysler,nein,2016-04-04 00:00:00,0,73527,2016-04-06 23:16:00
49987,2016-03-22 20:47:27,Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...,privat,Angebot,"$21,990",control,limousine,2013,manuell,150,a3,"50,000km",11,diesel,audi,nein,2016-03-22 00:00:00,0,94362,2016-03-26 22:46:06
49988,2016-03-28 19:49:51,BMW_330_Ci,privat,Angebot,"$9,550",control,coupe,2001,manuell,231,3er,"150,000km",10,benzin,bmw,nein,2016-03-28 00:00:00,0,83646,2016-04-07 02:17:40
49989,2016-03-11 19:50:37,VW_Polo_zum_Ausschlachten_oder_Wiederaufbau,privat,Angebot,$150,test,kleinwagen,1997,manuell,0,polo,"150,000km",5,benzin,volkswagen,ja,2016-03-11 00:00:00,0,21244,2016-03-12 10:17:55
49990,2016-03-21 19:54:19,Mercedes_Benz_A_200__BlueEFFICIENCY__Urban,privat,Angebot,"$17,500",test,limousine,2012,manuell,156,a_klasse,"30,000km",12,benzin,mercedes_benz,nein,2016-03-21 00:00:00,0,58239,2016-04-06 22:46:57
49991,2016-03-06 15:25:19,Kleinwagen,privat,Angebot,$500,control,NaN,2016,manuell,0,twingo,"150,000km",0,benzin,renault,NaN,2016-03-06 00:00:00,0,61350,2016-03-06 18:24:19
49992,2016-03-10 19:37:38,Fiat_Grande_Punto_1.4_T_Jet_16V_Sport,privat,Angebot,"$4,800",control,kleinwagen,2009,manuell,120,andere,"125,000km",9,lpg,fiat,nein,2016-03-10 00:00:00,0,68642,2016-03-13 01:44:51
49993,2016-03-15 18:47:35,Audi_A3__1_8l__Silber;_schoenes_Fahrzeug,privat,Angebot,"$1,650",control,kleinwagen,1997,manuell,0,NaN,"150,000km",7,benzin,audi,NaN,2016-03-15 00:00:00,0,65203,2016-04-06 19:46:53
49994,2016-03-22 17:36:42,Audi_A6__S6__Avant_4.2_quattro_eventuell_Tausc...,privat,Angebot,"$5,000",control,kombi,2001,automatik,299,a6,"150,000km",1,benzin,audi,nein,2016-03-22 00:00:00,0,46537,2016-04-06 08:16:39
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

In [3]:
autos.info()
autos.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

Se observa lo siguiente:
* Hay 20 columnas, la mayoria strings.
* Existen algunas columnas con valores Nulls ( pues no tienen los 50.000 datos)
* Los encabezados estan escritos DeEstaForma (camelcase), en lugar de_esta_forma (snakecase), la cual es mejor para Python.

A continuación se realizará las siguientes operaciones:
- Se va a cambiar de camelcase a snakecase.
- Se renombrara algunos encabezados por unos mas descriptivos.

In [4]:
autos.columns  #observamos los encabezados

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [5]:
autos.columns = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen'] #renombramos algunos encabezados

In [6]:
autos.head() #se observa como quedó

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

## Cleaning de data

Se explorara la data para definir que limpieza de datos es necesaria:

    i.- Contenido de las columnas donde casi todos los valores sean lo mismo ( en cuyo caso se puede eliminar la columna, por inutil)
    ii.- Ver aquellas columnas que contiene informacioón numérica  y limpiarla en caso de que sea necesario.

In [7]:
autos.describe(include='all') #solo mostrará aquellas columnas numéricas.

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-23 19:38:20,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

Se puede concluir lo siguiente:
* Todas las columnas que tienen a lo mas un valor ( o 2) como unique, son candidatas a ser eliminadas. 
* Las columnas que tienen valores numéricos como string deben ser limpiados y transformados de formato. 

* El resto de las columnas necesitan mayor investigacion

In [8]:
autos.drop(["seller", "offer_type","nr_of_pictures"], axis=1, inplace=True) #eliminar columnas
autos['price'] = (autos['price'].str.replace('$','').str.replace(',','').str.strip().astype(int) ) # de string a int
autos['odometer'] = (autos['odometer'].str.replace('km','').str.replace(',','').str.strip().astype(int)) # de string a int

In [9]:
autos.rename({"odometer": "odometer_km"}, axis=1, inplace=True) #cambiando el nombre de la columna

Se analiza "Price" mas a fondo:

In [10]:
print("Numero de precios Unicos:",autos["price"].unique().shape) # ver cuantos valores unicos hay
print("Descripcion de los datos de Precio:",autos["price"].describe()) #busqueda de valores outlier
autos["price"].value_counts().head(20)

Numero de precios Unicos: (2357,)
Descripcion de los datos de Precio: count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64

0       1421
500      781
1500     734
2500     643
1000     639
1200     639
600      531
800      498
3500     498
2000     460
999      434
750      433
900      420
650      419
850      410
700      395
4500     394
300      384
2200     382
950      379
Name: price, dtype: int64

De lo aterior se puede concluir lo siguiente:
* la variead de precios parece correcta (2357).
* Se observa que existen 1421 precios de valor 0, lo que indica un problema con estos valores. 
* El valor maximo es de 100 millones de dores lo resulta algo poco probable, debido a esto veremos entre que valores se mueven los precios mas altos

### Analisis de "Prices"

In [11]:
autos["price"].value_counts().sort_index(ascending=False).head(20)

99999999    1
27322222    1
12345678    3
11111111    2
10000000    1
3890000     1
1300000     1
1234566     1
999999      2
999990      1
350000      1
345000      1
299000      1
295000      1
265000      1
259000      1
250000      1
220000      1
198000      1
197000      1
Name: price, dtype: int64

In [12]:
autos["price"].value_counts().sort_index(ascending=True).head(70)

0      1421
1       156
2         3
3         1
5         2
8         1
9         1
10        7
11        2
12        3
13        2
14        1
15        2
17        3
18        1
20        4
25        5
29        1
30        7
35        1
40        6
45        4
47        1
49        4
50       49
55        2
59        1
60        9
65        5
66        1
       ...
115       2
117       1
120      39
122       1
125       8
129       1
130      15
135       1
139       1
140       9
145       2
149       7
150     224
156       2
160       8
170       7
173       1
175      12
179       1
180      35
185       1
188       1
190      16
193       1
195       2
198       1
199      41
200     266
205       1
210       1
Name: price, Length: 70, dtype: int64

Se observa que solo existe una cifra muy alta, la que se debe remover. Ahora removiendo los valores que resultan outlier ( muy pequeños  y valores demasiado altos)

In [13]:
autos = autos[autos["price"].between(49,351000)]  #sacando las filas de los outlier
autos["price"].describe()

count     48351.000000
mean       5914.970776
std        9071.407458
min          49.000000
25%        1250.000000
50%        3000.000000
75%        7499.000000
max      350000.000000
Name: price, dtype: float64

### Análisis de la columna "odometer"

autos["odometer_km"].value_counts().sort_index(ascending = False).head(20) #observando los valores mayores

In [14]:
autos["odometer_km"].value_counts().sort_index(ascending = True).head(20) #observando los valores menores

5000        784
10000       249
20000       759
30000       778
40000       815
50000      1011
60000      1153
70000      1215
80000      1414
90000      1733
100000     2106
125000     5045
150000    31289
Name: odometer_km, dtype: int64

No parece haber inconsistencias en los valores de "odometer_km"

### Análisis de la columna con valores de tipo Date

Las columnas siguientes son de tipo datos:

- `date_crawled`
- `last_seen`
- `ad_created`
- `registration_month`
- `registration_year`

Veamos de que tipo de datos lo reconoce Python

In [15]:
autos.dtypes

date_crawled          object
name                  object
price                  int64
abtest                object
vehicle_type          object
registration_year      int64
gearbox               object
power_ps               int64
model                 object
odometer_km            int64
registration_month     int64
fuel_type             object
brand                 object
unrepaired_damage     object
ad_created            object
postal_code            int64
last_seen             object
dtype: object

Para las primeras tres columnas descritas anteriormente vemos que estan reconocidas como strings (object). Por lo que se realizara su conversion a tipo de datos Date. 

Exploramos estas tres columnas.

In [16]:
autos[['date_crawled','ad_created','last_seen']][0:5]

          date_crawled           ad_created            last_seen
0  2016-03-26 17:47:46  2016-03-26 00:00:00  2016-04-06 06:45:54
1  2016-04-04 13:38:56  2016-04-04 00:00:00  2016-04-06 14:45:08
2  2016-03-26 18:57:24  2016-03-26 00:00:00  2016-04-06 20:15:37
3  2016-03-12 16:58:10  2016-03-12 00:00:00  2016-03-15 03:16:28
4  2016-04-01 14:38:50  2016-04-01 00:00:00  2016-04-01 14:38:50

In [17]:
autos["date_crawled"].str[:10].value_counts(normalize=True, dropna=False).sort_index().head() #str[:10], toma los 10 primeros caracteres, normalize-todo en%

2016-03-05    0.025356
2016-03-06    0.014064
2016-03-07    0.036028
2016-03-08    0.033257
2016-03-09    0.033050
Name: date_crawled, dtype: float64

In [18]:
autos["date_crawled"].str[:10].value_counts(normalize=True, dropna=False).sort_index(ascending=False).head()

2016-04-07    0.001386
2016-04-06    0.003164
2016-04-05    0.013050
2016-04-04    0.036525
2016-04-03    0.038572
Name: date_crawled, dtype: float64

Se observa uniformidad en la distribucion de las fechas y no hay maximo ni minimos que sugieran alguna anomalia.

In [19]:
autos["ad_created"].str[:10].value_counts(normalize=True, dropna=False).sort_index().head()

2015-06-11    0.000021
2015-08-10    0.000021
2015-09-09    0.000021
2015-11-10    0.000021
2015-12-05    0.000021
Name: ad_created, dtype: float64

In [20]:
autos["ad_created"].str[:10].value_counts(normalize=True, dropna=False).sort_index(ascending = False ).head()

2016-04-07    0.001241
2016-04-06    0.003247
2016-04-05    0.011768
2016-04-04    0.036897
2016-04-03    0.038820
Name: ad_created, dtype: float64

Para "ad_created" obtenemos la misma conclusion anterior

In [21]:
autos["last_seen"].str[:10].value_counts(normalize=True, dropna=False).sort_index().head()

2016-03-05    0.001075
2016-03-06    0.004323
2016-03-07    0.005419
2016-03-08    0.007342
2016-03-09    0.009638
Name: last_seen, dtype: float64

In [22]:
autos["last_seen"].str[:10].value_counts(normalize=True, dropna=False).sort_index(ascending = False ).head()

2016-04-07    0.132097
2016-04-06    0.221650
2016-04-05    0.124982
2016-04-04    0.024508
2016-04-03    0.025170
Name: last_seen, dtype: float64

Ahora se explorará "registration_year"

In [23]:
autos["registration_year"].describe()

count    48351.000000
mean      2004.780418
std         88.833591
min       1000.000000
25%       1999.000000
50%       2004.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

Se observa que:
* tanto el maximo año como el mínimo son inusuales.  
* Puesto que la muestra es de 50.000 datos mediante count vemos que hay alguno datos Nulos.

In [24]:
autos["registration_year"].sort_values(ascending = True ).head(20)

22316    1000
49283    1001
24511    1111
32585    1800
10556    1800
22659    1910
28693    1910
21416    1927
22101    1929
11246    1931
2221     1934
2573     1934
23804    1937
26607    1937
21421    1937
39725    1937
26103    1938
24855    1939
25792    1941
13963    1941
Name: registration_year, dtype: int64

In [25]:
autos["registration_year"].sort_values(ascending = False ).head(20)

8012     9999
33950    9999
38076    9999
49910    9000
25003    8888
8360     6200
27618    5911
4164     5000
49153    5000
22799    5000
24519    5000
42079    4800
453      4500
4549     4100
27578    2800
5763     2019
49185    2019
44256    2018
46811    2018
28335    2018
Name: registration_year, dtype: int64

Se observa que tanto en el límite inferior como en el superior en fechas existen, valores inconsistentes. Por un lado la máxima fecha posible es el año 2016 ( fecha de extraccion de la data) y el mínimo posible es 1901 (primer auto en Alemania). Por ellos se realizaran los siguientes pasos:

* Se analizara que porcentaje total de los datos corresponden las fechas fuera del límite 1995< x < 2016. Esto se realiza para ver si al pérdida de los mismos es significativa. 
* En caso de que no sea significativa se eliminará los datos de esas fechas.

In [26]:
((~autos["registration_year"].between(1900,2016)).sum()/autos.shape[0])*100

3.8778929081094495

Observamos que corresponde solamente al 4% de nuestros datos, por ello se elimina ese rango de nuestro Data Frame.

In [32]:
autos = autos[(autos["registration_year"].between(1900,2016))]
autos["registration_year"].sort_values().head()

22659    1910
28693    1910
21416    1927
22101    1929
11246    1931
Name: registration_year, dtype: int64

In [34]:
autos["registration_year"].sort_values(ascending=False).head()

46998    2016
5607     2016
7171     2016
34850    2016
37852    2016
Name: registration_year, dtype: int64

### Análisis de la columna Brand

La idea es explorar las variaciones que ha sufrido una mima marca. Para ello se utiliza la técnica de agregación. Los pasos siguientes para raelizar tal técnica son:

- Identificar los valores únicos que se desean agregar
- Crear un diccionario vacio en el cual se incorporara los datos agregados
- Utilizar un loop por cada "unique" valor y con el:
    - Filtrar la Data Frame por el unique value.
    - Calcular el valor promedio de la columna de interes
    - Asignar el valor promedio junto con su key al diccionario

In [110]:
autos_top = autos["brand"].value_counts().head(5)  # se eligen las marcas top 20 para agregar
print(autos_top)

volkswagen       9824
bmw              5110
opel             4987
mercedes_benz    4485
audi             4025
Name: brand, dtype: int64

In [115]:
sel_brands = autos_top.index.unique()                    # se extraen los nombres de las marcas
brands_mean = {}                                        # diccionario vacio a utilizar
print(sel_brands)

Index(['volkswagen', 'bmw', 'opel', 'mercedes_benz', 'audi'], dtype='object')

In [117]:
for elem in sel_brands:
 selrows = autos[autos["brand"]== elem ]
 mean_price = selrows["price"].mean()
 brands_mean[elem] = int(mean_price)
print(brands_mean)

{'volkswagen': 5423, 'bmw': 8376, 'audi': 9373, 'mercedes_benz': 8663, 'opel': 2996}

In [122]:
print( "Diferencia de precion entre la mas popular y la quinta mas popular:",brands_mean['volkswagen'] - brands_mean['opel'])
print( "Diferencia de precion entre la mas popular y la mas cara:",brands_mean['audi'] - brands_mean['volkswagen'])

Diferencia de precion entre la mas popular y la quinta mas popular: 2427
Diferencia de precion entre la mas popular y la mas cara: 3950

* Audi, BMW and Mercedes Benz las mas caras
* Opel la mas barata
* Volkswagen en el medio

### Análisis de la columna Kilometros recorridos vs Precios

Se quiere saber si existe alguna relacion entre el precio y los kilometros recoridos por los autos. Para ello se utilizara una combinacion de marca-precio-odometro, creando una sola columna para tales propósitos, es decir se combinarán dos series de nuestro Data Frame. Los métodos a utilizar son: 
pandas series constructor y pandas dataframe constructor.

En primer lugar se debe obtener el diccionario que falta: Kilometros diccionario:

In [135]:
km_mean = {} 
for elem in sel_brands:
 selrows = autos[autos["brand"]== elem ]
 mean_km = selrows["odometer_km"].mean()
 km_mean[elem] = int(mean_km)
print(km_mean)

{'volkswagen': 128757, 'bmw': 132651, 'audi': 129254, 'mercedes_benz': 130923, 'opel': 129440}

Con esto ya se tiene marca-precio y marca-kilometros diccionarios. Ahora se procede a transformacion de estos diccionarios un dataFrame de una columna utilizando los panda seires y panda dataframe constructors.

In [124]:
bmp_series = pd.Series(brands_mean) 
print(bmp_series)

audi             9373
bmw              8376
mercedes_benz    8663
opel             2996
volkswagen       5423
dtype: int64

Como constructor (pandas series) crea un objeto de class pd.Series, donde transforma el diccionario en un objeto. La key en el diccionario se convierte en index y value en su valor en una columna, ahora falta darle nombre a la columna y para ello se utiliza el Data Frame constructor, el que crea un nuevo DataFrame de una columna.

In [136]:
df = pd.DataFrame(bmp_series, columns=['price_mean'])
df

               price_mean
audi                 9373
bmw                  8376
mercedes_benz        8663
opel                 2996
volkswagen           5423

In [137]:
km_series = pd.Series(km_mean) 
print(km_series)

audi             129254
bmw              132651
mercedes_benz    130923
opel             129440
volkswagen       128757
dtype: int64

Agrenando la serie de kilometros al dataframe antes creado:

In [139]:
df["km_mean"] = km_series
df

               price_mean  km_mean
audi                 9373   129254
bmw                  8376   132651
mercedes_benz        8663   130923
opel                 2996   129440
volkswagen           5423   128757

Finalmente se observa que el kilometrage por cada marca no varia demasiado a diferencia del precio en cada marca,lo que se puede suponer que en cuanto a rendimiento tanto los autos mas caros como los mas baratos permiten realizar el mismo recorrido,De esta forma, finalmente se mostrara una tabla de cuanto sale cada kilometro que se recorre por cada auto ( solo en cuanto a su precio, claro esta)

In [145]:
costo_km = df["km_mean"] / df["price_mean"]
print(costo_km)

audi             13.790035
bmw              15.837034
mercedes_benz    15.112894
opel             43.204272
volkswagen       23.742762
dtype: float64

Vemos que la marca Opel nos da mas de el doble de kilometros por cada euro que se paga por los mismos kilometros recorridos por los autos mas caros.